In [11]:

import datetime as dt
import pandas as pd
import pyspark
import pyspark.pandas as ps
from pyspark.sql import SparkSession

In [12]:
# oil diesel by UF and type: $DPCache_m3_2
diesel_df = pd.read_excel('../instance/vendas_teste.ods', 'DPCache_m3_2')

In [13]:
# oil derivative fuels by UF and product: $DPCache_m3
oilder_df = pd.read_excel('../instance/vendas_teste.ods', 'DPCache_m3')

In [4]:
unit = 'm3'

In [5]:
set(diesel_df['COMBUSTÍVEL'].to_list())

{'ÓLEO DIESEL (OUTROS ) (m3)',
 'ÓLEO DIESEL MARÍTIMO (m3)',
 'ÓLEO DIESEL S-10 (m3)',
 'ÓLEO DIESEL S-1800 (m3)',
 'ÓLEO DIESEL S-500 (m3)'}

In [28]:
diesel_pd_df = diesel_df.toPandas()
oilder_pd_df = oilder_df.toPandas()

In [6]:
months = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
months_to_int_d = {m: i for m, i in zip(months, range(1, 12+1))}
months_to_int = lambda x: months_to_int_d[x]

In [7]:
months_to_int('Jan')

1

In [8]:
diesel_df

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,TOTAL
0,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,RONDÔNIA,81453.67,3517.600,3681.700,4700.670,5339.200,6166.4,6539.65,7283.7,8082.85,7902.550,9383.150,9767.40,9088.800
1,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,ACRE,1483.00,11202.000,363.000,410.000,536.000,607.0,740.00,756.0,971.00,1174.000,1240.000,1439.00,1483.000
2,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,AMAZONAS,6836.30,6784.232,61443.832,3190.585,3305.000,3391.0,3637.00,4250.0,4576.00,5756.879,6228.636,6334.00,7154.200
3,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,RORAIMA,1475.30,1502.700,1531.800,13423.700,795.400,757.2,939.80,1040.6,966.00,992.900,1027.000,1083.80,1311.200
4,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,PARÁ,40913.48,45383.500,44013.219,41975.030,441140.785,30137.8,28146.30,31280.5,33033.05,33519.880,34321.530,37168.16,41248.336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1075,ÓLEO DIESEL (OUTROS ) (m3),2020,REGIÃO SUL,RIO GRANDE DO SUL,0.00,0.000,10.000,10.000,0.000,10.0,NaN,NaN,NaN,60.000,10.000,10.00,10.000
1076,ÓLEO DIESEL (OUTROS ) (m3),2020,REGIÃO CENTRO-OESTE,MATO GROSSO DO SUL,0.00,0.000,0.000,0.000,0.000,0.0,0.00,NaN,NaN,NaN,0.000,0.00,0.000
1077,ÓLEO DIESEL (OUTROS ) (m3),2020,REGIÃO CENTRO-OESTE,MATO GROSSO,45.00,0.000,0.000,0.000,0.000,0.0,0.00,0.0,NaN,NaN,NaN,90.00,45.000
1078,ÓLEO DIESEL (OUTROS ) (m3),2020,REGIÃO CENTRO-OESTE,GOIÁS,0.00,0.000,0.000,0.000,0.000,0.0,0.00,0.0,41.40,NaN,NaN,NaN,41.400
1079,ÓLEO DIESEL (OUTROS ) (m3),2020,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,0.00,0.000,0.000,0.000,0.000,0.0,0.00,0.0,0.00,0.000,NaN,NaN,NaN

In [9]:
diesel_df = diesel_df.melt(id_vars=['ANO', 'COMBUSTÍVEL', 'ESTADO'], value_vars=months, var_name='MONTH', value_name='volume')

## Schema

Data should be stored in the following format:

| Column       | Type        |
| ------------ | ----------- |
| `year_month` | `date`      |
| `uf`         | `string`    |
| `product`    | `string`    |
| `unit`       | `string`    |
| `volume`     | `double`    |
| `created_at` | `timestamp` |

In [10]:
diesel_df['month_int'] = diesel_df.apply(lambda x: months_to_int(x['MONTH']), axis=1)

In [11]:
diesel_df['year_month'] = diesel_df.apply(lambda x: dt.datetime(x['ANO'], x['month_int'], 1), axis=1)

In [12]:
diesel_df.rename({'COMBUSTÍVEL': 'product', 'ESTADO': 'uf'}, inplace=True, axis=1)

In [13]:
diesel_df['unit'] = 'm3'

In [14]:
diesel_df['created_at'] = pd.Timestamp.now()

In [15]:
diesel_final = diesel_df[['year_month', 'uf', 'product', 'unit', 'volume', 'created_at']]

In [16]:
diesel_final

,year_month,uf,product,unit,volume,created_at
0,2013-01-01,RONDÔNIA,ÓLEO DIESEL S-10 (m3),m3,81453.67,2023-03-30 06:02:56.588435
1,2013-01-01,ACRE,ÓLEO DIESEL S-10 (m3),m3,1483.00,2023-03-30 06:02:56.588435
2,2013-01-01,AMAZONAS,ÓLEO DIESEL S-10 (m3),m3,6836.30,2023-03-30 06:02:56.588435
3,2013-01-01,RORAIMA,ÓLEO DIESEL S-10 (m3),m3,1475.30,2023-03-30 06:02:56.588435
4,2013-01-01,PARÁ,ÓLEO DIESEL S-10 (m3),m3,40913.48,2023-03-30 06:02:56.588435
...,...,...,...,...,...,...
12955,2020-12-01,RIO GRANDE DO SUL,ÓLEO DIESEL (OUTROS ) (m3),m3,10.00,2023-03-30 06:02:56.588435
12956,2020-12-01,MATO GROSSO DO SUL,ÓLEO DIESEL (OUTROS ) (m3),m3,0.00,2023-03-30 06:02:56.588435
12957,2020-12-01,MATO GROSSO,ÓLEO DIESEL (OUTROS ) (m3),m3,90.00,2023-03-30 06:02:56.588435
12958,2020-12-01,GOIÁS,ÓLEO DIESEL (OUTROS ) (m3),m3,NaN,2023-03-30 06:02:56.588435
12959,2020-12-01,DISTRITO FEDERAL,ÓLEO DIESEL (OUTROS ) (m3),m3,NaN,2023-03-30 06:02:56.588435

In [42]:
dt.datetime(1988, 5, 1)

datetime.datetime(1988, 5, 1, 0, 0)

In [52]:
diesel_melted.assign(year_month=lambda x: dt.datetime(x.ANO, months_to_int(x.variable), 1))

TypeError: unhashable type: 'Series'

In [45]:
diesel_melted['ANO']

0        2013
1        2013
2        2013
3        2013
4        2013
         ...
12955    2020
12956    2020
12957    2020
12958    2020
12959    2020
Name: ANO, Length: 12960, dtype: int64

In [12]:
type(diesel_df)

pyspark.sql.dataframe.DataFrame

In [13]:
oilder_df.melt(
        ids=['ANO'], values=['Jan', 'Fev'],
        variableColumnName="variable",
        valueColumnName="value")

AttributeError: 'DataFrame' object has no attribute 'melt'

In [38]:
set(oilder_df.toPandas()['COMBUSTÍVEL'].to_list())

{'ETANOL HIDRATADO (m3)',
 'GASOLINA C (m3)',
 'GASOLINA DE AVIAÇÃO (m3)',
 'GLP (m3)',
 'QUEROSENE DE AVIAÇÃO (m3)',
 'QUEROSENE ILUMINANTE (m3)',
 'ÓLEO COMBUSTÍVEL (m3)',
 'ÓLEO DIESEL (m3)'}

In [25]:
oilder_df['ESTADO']

0                 RONDÔNIA
1                     ACRE
2                 AMAZONAS
3                  RORAIMA
4                     PARÁ
5                    AMAPÁ
6                TOCANTINS
7                 MARANHÃO
8                    PIAUÍ
9                    CEARÁ
10     RIO GRANDE DO NORTE
11                 PARAÍBA
12              PERNAMBUCO
13                 ALAGOAS
14                 SERGIPE
15                   BAHIA
16            MINAS GERAIS
17          ESPÍRITO SANTO
18          RIO DE JANEIRO
19               SÃO PAULO
20                  PARANÁ
21          SANTA CATARINA
22       RIO GRANDE DO SUL
23      MATO GROSSO DO SUL
24             MATO GROSSO
25                   GOIÁS
26        DISTRITO FEDERAL
27                RONDÔNIA
28                    ACRE
29                AMAZONAS
30                 RORAIMA
31                    PARÁ
32                   AMAPÁ
33               TOCANTINS
34                MARANHÃO
35                   PIAUÍ
36                   CEARÁ
37     RIO GRANDE DO NORTE
38                 PARAÍBA
39              PERNAMBUCO
40                 ALAGOAS
41                 SERGIPE
42                   BAHIA
43            MINAS GERAIS
44          ESPÍRITO SANTO
45          RIO DE JANEIRO
46               SÃO PAULO
47                  PARANÁ
48          SANTA CATARINA
49       RIO GRANDE DO SUL
50      MATO GROSSO DO SUL
51             MATO GROSSO
52                   GOIÁS
53        DISTRITO FEDERAL
54                RONDÔNIA
55                    ACRE
56                AMAZONAS
57                 RORAIMA
58                    PARÁ
59                   AMAPÁ
60               TOCANTINS
61                MARANHÃO
62                   PIAUÍ
63                   CEARÁ
64     RIO GRANDE DO NORTE
65                 PARAÍBA
66              PERNAMBUCO
67                 ALAGOAS
68                 SERGIPE
69                   BAHIA
70            MINAS GERAIS
71          ESPÍRITO SANTO
72          RIO DE JANEIRO
73               SÃO PAULO
74                  PARANÁ
75          SANTA CATARINA
76       RIO GRANDE DO SUL
77      MATO GROSSO DO SUL
78             MATO GROSSO
79                   GOIÁS
80        DISTRITO FEDERAL
81                RONDÔNIA
82                    ACRE
83                AMAZONAS
84                 RORAIMA
85                    PARÁ
86                   AMAPÁ
87               TOCANTINS
88                MARANHÃO
89                   PIAUÍ
90                   CEARÁ
91     RIO GRANDE DO NORTE
92                 PARAÍBA
93              PERNAMBUCO
94                 ALAGOAS
95                 SERGIPE
96                   BAHIA
97            MINAS GERAIS
98          ESPÍRITO SANTO
99          RIO DE JANEIRO
100              SÃO PAULO
101                 PARANÁ
102         SANTA CATARINA
103      RIO GRANDE DO SUL
104     MATO GROSSO DO SUL
105            MATO GROSSO
106                  GOIÁS
107       DISTRITO FEDERAL
108               RONDÔNIA
109                   ACRE
110               AMAZONAS
111                RORAIMA
112                   PARÁ
113                  AMAPÁ
114              TOCANTINS
115               MARANHÃO
116                  PIAUÍ
117                  CEARÁ
118    RIO GRANDE DO NORTE
119                PARAÍBA
120             PERNAMBUCO
121                ALAGOAS
122                SERGIPE
123                  BAHIA
124           MINAS GERAIS
125         ESPÍRITO SANTO
126         RIO DE JANEIRO
127              SÃO PAULO
128                 PARANÁ
129         SANTA CATARINA
130      RIO GRANDE DO SUL
131     MATO GROSSO DO SUL
132            MATO GROSSO
133                  GOIÁS
134       DISTRITO FEDERAL
135               RONDÔNIA
136                   ACRE
137               AMAZONAS
138                RORAIMA
139                   PARÁ
140                  AMAPÁ
141              TOCANTINS
142               MARANHÃO
143                  PIAUÍ
144                  CEARÁ
145    RIO GRANDE DO NORTE
146                PARAÍBA
147             PERNAMBUCO
148                ALAGOAS
149                SERGIPE
150                  BAHIA
151           MINAS GERAIS
152         ESPÍRITO SANTO
153         RIO DE JANEIRO
154              SÃO PAULO
155                 PARANÁ
156         SANTA CATARINA
157      RIO GRANDE DO SUL
158     MATO GROSSO DO SUL
159            MATO GROSSO
160                  GOIÁS
161       DISTRITO FEDERAL
162               RONDÔNIA
163                   ACRE
164               AMAZONAS
165                RORAIMA
166                   PARÁ
167                  AMAPÁ
168              TOCANTINS
169               MARANHÃO
170                  PIAUÍ
171                  CEARÁ
172    RIO GRANDE DO NORTE
173                PARAÍBA
174             PERNAMBUCO
175                ALAGOAS
176                SERGIPE
177                  BAHIA
178           MINAS GERAIS
179         ESPÍRITO SANTO
180         RIO DE JANEIRO
181              SÃO PAULO
182                 PARANÁ
183         SANTA CATARINA
184      RIO GRANDE DO SUL
185     MATO GROSSO DO SUL
186            MATO GROSSO
187                  GOIÁS
188       DISTRITO FEDERAL
189               RONDÔNIA
190                   ACRE
191               AMAZONAS
192                RORAIMA
193                   PARÁ
194                  AMAPÁ
195              TOCANTINS
196               MARANHÃO
197                  PIAUÍ
198                  CEARÁ
199    RIO GRANDE DO NORTE
200                PARAÍBA
201             PERNAMBUCO
202                ALAGOAS
203                SERGIPE
204                  BAHIA
205           MINAS GERAIS
206         ESPÍRITO SANTO
207         RIO DE JANEIRO
208              SÃO PAULO
209                 PARANÁ
210         SANTA CATARINA
211      RIO GRANDE DO SUL
212     MATO GROSSO DO SUL
213            MATO GROSSO
214                  GOIÁS
215       DISTRITO FEDERAL
216               RONDÔNIA
217                   ACRE
218               AMAZONAS
219                RORAIMA
220                   PARÁ
221                  AMAPÁ
222              TOCANTINS
223               MARANHÃO
224                  PIAUÍ
225                  CEARÁ
226    RIO GRANDE DO NORTE
227                PARAÍBA
228             PERNAMBUCO
229                ALAGOAS
230                SERGIPE
231                  BAHIA
232           MINAS GERAIS
233         ESPÍRITO SANTO
234         RIO DE JANEIRO
235              SÃO PAULO
236                 PARANÁ
237         SANTA CATARINA
238      RIO GRANDE DO SUL
239     MATO GROSSO DO SUL
240            MATO GROSSO
241                  GOIÁS
242       DISTRITO FEDERAL
243               RONDÔNIA
244                   ACRE
245               AMAZONAS
246                RORAIMA
247                   PARÁ
248                  AMAPÁ
249              TOCANTINS
250               MARANHÃO
251                  PIAUÍ
252                  CEARÁ
253    RIO GRANDE DO NORTE
254                PARAÍBA
255             PERNAMBUCO
256                ALAGOAS
257                SERGIPE
258                  BAHIA
259           MINAS GERAIS
260         ESPÍRITO SANTO
261         RIO DE JANEIRO
262              SÃO PAULO
263                 PARANÁ
264         SANTA CATARINA
265      RIO GRANDE DO SUL
266     MATO GROSSO DO SUL
267            MATO GROSSO
268                  GOIÁS
269       DISTRITO FEDERAL
270               RONDÔNIA
271                   ACRE
272               AMAZONAS
273                RORAIMA
274                   PARÁ
275                  AMAPÁ
276              TOCANTINS
277               MARANHÃO
278                  PIAUÍ
279                  CEARÁ
280    RIO GRANDE DO NORTE
281                PARAÍBA
282             PERNAMBUCO
283                ALAGOAS
284                SERGIPE
285                  BAHIA
286           MINAS GERAIS
287         ESPÍRITO SANTO
288         RIO DE JANEIRO
289              SÃO PAULO
290                 PARANÁ
291         SANTA CATARINA
292      RIO GRANDE DO SUL
293     MATO GROSSO DO SUL
294            MATO GROSSO
295                  GOIÁS
296       DISTRITO FEDERAL
297               RONDÔNIA
298                   ACRE
299               AMAZONAS
300                RORAIMA
301                   PARÁ
302                  AMAPÁ
303              TOCANTINS
304               MARANHÃO
305                  PIAUÍ
306                  CEARÁ
307    RIO GRANDE DO NORTE
308                PARAÍBA
309             PERNAMBUCO
310                ALAGOAS
311                SERGIPE
312                  BAHIA
313           MINAS GERAIS
314         ESPÍRITO SANTO
315         RIO DE JANEIRO
316              SÃO PAULO
317                 PARANÁ
318         SANTA CATARINA
319      RIO GRANDE DO SUL
320     MATO GROSSO DO SUL
321            MATO GROSSO
322                  GOIÁS
323       DISTRITO FEDERAL
324               RONDÔNIA
325                   ACRE
326               AMAZONAS
327                RORAIMA
328                   PARÁ
329                  AMAPÁ
330              TOCANTINS
331               MARANHÃO
332                  PIAUÍ
333                  CEARÁ
334    RIO GRANDE DO NORTE
335                PARAÍBA
336             PERNAMBUCO
337                ALAGOAS
338                SERGIPE
339                  BAHIA
340           MINAS GERAIS
341         ESPÍRITO SANTO
342         RIO DE JANEIRO
343              SÃO PAULO
344                 PARANÁ
345         SANTA CATARINA
346      RIO GRANDE DO SUL
347     MATO GROSSO DO SUL
348            MATO GROSSO
349                  GOIÁS
350       DISTRITO FEDERAL
351               RONDÔNIA
352                   ACRE
353               AMAZONAS
354                RORAIMA
355                   PARÁ
356                  AMAPÁ
357              TOCANTINS
358               MARANHÃO
359                  PIAUÍ
360                  CEARÁ
361    RIO GRANDE DO NORTE
362                PARAÍBA
363             PERNAMBUCO
364                ALAGOAS
365                SERGIPE
366                  BAHIA
367           MINAS GERAIS
368         ESPÍRITO SANTO
369         RIO DE JANEIRO
370              SÃO PAULO
371                 PARANÁ
372         SANTA CATARINA
373      RIO GRANDE DO SUL
374     MATO GROSSO DO SUL
375            MATO GROSSO
376                  GOIÁS
377       DISTRITO FEDERAL
378               RONDÔNIA
379                   ACRE
380               AMAZONAS
381                RORAIMA
382                   PARÁ
383                  AMAPÁ
384              TOCANTINS
385               MARANHÃO
386                  PIAUÍ
387                  CEARÁ
388    RIO GRANDE DO NORTE
389                PARAÍBA
390             PERNAMBUCO
391                ALAGOAS
392                SERGIPE
393                  BAHIA
394           MINAS GERAIS
395         ESPÍRITO SANTO
396         RIO DE JANEIRO
397              SÃO PAULO
398                 PARANÁ
399         SANTA CATARINA
400      RIO GRANDE DO SUL
401     MATO GROSSO DO SUL
402            MATO GROSSO
403                  GOIÁS
404       DISTRITO FEDERAL
405               RONDÔNIA
406                   ACRE
407               AMAZONAS
408                RORAIMA
409                   PARÁ
410                  AMAPÁ
411              TOCANTINS
412               MARANHÃO
413                  PIAUÍ
414                  CEARÁ
415    RIO GRANDE DO NORTE
416                PARAÍBA
417             PERNAMBUCO
418                ALAGOAS
419                SERGIPE
420                  BAHIA
421           MINAS GERAIS
422         ESPÍRITO SANTO
423         RIO DE JANEIRO
424              SÃO PAULO
425                 PARANÁ
426         SANTA CATARINA
427      RIO GRANDE DO SUL
428     MATO GROSSO DO SUL
429            MATO GROSSO
430                  GOIÁS
431       DISTRITO FEDERAL
432               RONDÔNIA
433                   ACRE
434               AMAZONAS
435                RORAIMA
436                   PARÁ
437                  AMAPÁ
438              TOCANTINS
439               MARANHÃO
440                  PIAUÍ
441                  CEARÁ
442    RIO GRANDE DO NORTE
443                PARAÍBA
444             PERNAMBUCO
445                ALAGOAS
446                SERGIPE
447                  BAHIA
448           MINAS GERAIS
449         ESPÍRITO SANTO
450         RIO DE JANEIRO
451              SÃO PAULO
452                 PARANÁ
453         SANTA CATARINA
454      RIO GRANDE DO SUL
455     MATO GROSSO DO SUL
456            MATO GROSSO
457                  GOIÁS
458       DISTRITO FEDERAL
459               RONDÔNIA
460                   ACRE
461               AMAZONAS
462                RORAIMA
463                   PARÁ
464                  AMAPÁ
465              TOCANTINS
466               MARANHÃO
467                  PIAUÍ
468                  CEARÁ
469    RIO GRANDE DO NORTE
470                PARAÍBA
471             PERNAMBUCO
472                ALAGOAS
473                SERGIPE
474                  BAHIA
475           MINAS GERAIS
476         ESPÍRITO SANTO
477         RIO DE JANEIRO
478              SÃO PAULO
479                 PARANÁ
480         SANTA CATARINA
481      RIO GRANDE DO SUL
482     MATO GROSSO DO SUL
483            MATO GROSSO
484                  GOIÁS
485       DISTRITO FEDERAL
486               RONDÔNIA
487                   ACRE
488               AMAZONAS
489                RORAIMA
490                   PARÁ
491                  AMAPÁ
492              TOCANTINS
493               MARANHÃO
494                  PIAUÍ
495                  CEARÁ
496    RIO GRANDE DO NORTE
497                PARAÍBA
498             PERNAMBUCO
499                ALAGOAS
500                SERGIPE
501                  BAHIA
502           MINAS GERAIS
503         ESPÍRITO SANTO
504         RIO DE JANEIRO
505              SÃO PAULO
506                 PARANÁ
507         SANTA CATARINA
508      RIO GRANDE DO SUL
509     MATO GROSSO DO SUL
510            MATO GROSSO
511                  GOIÁS
512       DISTRITO FEDERAL
513               RONDÔNIA
514                   ACRE
515               AMAZONAS
516                RORAIMA
517                   PARÁ
518                  AMAPÁ
519              TOCANTINS
520               MARANHÃO
521                  PIAUÍ
522                  CEARÁ
523    RIO GRANDE DO NORTE
524                PARAÍBA
525             PERNAMBUCO
526                ALAGOAS
527                SERGIPE
528                  BAHIA
529           MINAS GERAIS
530         ESPÍRITO SANTO
531         RIO DE JANEIRO
532              SÃO PAULO
533                 PARANÁ
534         SANTA CATARINA
535      RIO GRANDE DO SUL
536     MATO GROSSO DO SUL
537            MATO GROSSO
538                  GOIÁS
539       DISTRITO FEDERAL
540               RONDÔNIA
541                   ACRE
542               AMAZONAS
543                RORAIMA
544                   PARÁ
545                  AMAPÁ
546              TOCANTINS
547               MARANHÃO
548                  PIAUÍ
549                  CEARÁ
550    RIO GRANDE DO NORTE
551                PARAÍBA
552             PERNAMBUCO
553                ALAGOAS
554                SERGIPE
555                  BAHIA
556           MINAS GERAIS
557         ESPÍRITO SANTO
558         RIO DE JANEIRO
559              SÃO PAULO
560                 PARANÁ
561         SANTA CATARINA
562      RIO GRANDE DO SUL
563     MATO GROSSO DO SUL
564            MATO GROSSO
565                  GOIÁS
566       DISTRITO FEDERAL
567               RONDÔNIA
568                   ACRE
569               AMAZONAS
570                RORAIMA
571                   PARÁ
572                  AMAPÁ
573              TOCANTINS
574               MARANHÃO
575                  PIAUÍ
576                  CEARÁ
577    RIO GRANDE DO NORTE
578                PARAÍBA
579             PERNAMBUCO
580                ALAGOAS
581                SERGIPE
582                  BAHIA
583           MINAS GERAIS
584         ESPÍRITO SANTO
585         RIO DE JANEIRO
586              SÃO PAULO
587                 PARANÁ
588         SANTA CATARINA
589      RIO GRANDE DO SUL
590     MATO GROSSO DO SUL
591            MATO GROSSO
592                  GOIÁS
593       DISTRITO FEDERAL
594               RONDÔNIA
595                   ACRE
596               AMAZONAS
597                RORAIMA
598                   PARÁ
599                  AMAPÁ
600              TOCANTINS
601               MARANHÃO
602                  PIAUÍ
603                  CEARÁ
604    RIO GRANDE DO NORTE
605                PARAÍBA
606             PERNAMBUCO
607                ALAGOAS
608                SERGIPE
609                  BAHIA
610           MINAS GERAIS
611         ESPÍRITO SANTO
612         RIO DE JANEIRO
613              SÃO PAULO
614                 PARANÁ
615         SANTA CATARINA
616      RIO GRANDE DO SUL
617     MATO GROSSO DO SUL
618            MATO GROSSO
619                  GOIÁS
620       DISTRITO FEDERAL
621               RONDÔNIA
622                   ACRE
623               AMAZONAS
624                RORAIMA
625                   PARÁ
626                  AMAPÁ
627              TOCANTINS
628               MARANHÃO
629                  PIAUÍ
630                  CEARÁ
631    RIO GRANDE DO NORTE
632                PARAÍBA
633             PERNAMBUCO
634                ALAGOAS
635                SERGIPE
636                  BAHIA
637           MINAS GERAIS
638         ESPÍRITO SANTO
639         RIO DE JANEIRO
640              SÃO PAULO
641                 PARANÁ
642         SANTA CATARINA
643      RIO GRANDE DO SUL
644     MATO GROSSO DO SUL
645            MATO GROSSO
646                  GOIÁS
647       DISTRITO FEDERAL
648               RONDÔNIA
649                   ACRE
650               AMAZONAS
651                RORAIMA
652                   PARÁ
653                  AMAPÁ
654              TOCANTINS
655               MARANHÃO
656                  PIAUÍ
657                  CEARÁ
658    RIO GRANDE DO NORTE
659                PARAÍBA
660             PERNAMBUCO
661                ALAGOAS
662                SERGIPE
663                  BAHIA
664           MINAS GERAIS
665         ESPÍRITO SANTO
666         RIO DE JANEIRO
667              SÃO PAULO
668                 PARANÁ
669         SANTA CATARINA
670      RIO GRANDE DO SUL
671     MATO GROSSO DO SUL
672            MATO GROSSO
673                  GOIÁS
674       DISTRITO FEDERAL
675               RONDÔNIA
676                   ACRE
677               AMAZONAS
678                RORAIMA
679                   PARÁ
680                  AMAPÁ
681              TOCANTINS
682               MARANHÃO
683                  PIAUÍ
684                  CEARÁ
685    RIO GRANDE DO NORTE
686                PARAÍBA
687             PERNAMBUCO
688                ALAGOAS
689                SERGIPE
690                  BAHIA
691           MINAS GERAIS
692         ESPÍRITO SANTO
693         RIO DE JANEIRO
694              SÃO PAULO
695                 PARANÁ
696         SANTA CATARINA
697      RIO GRANDE DO SUL
698     MATO GROSSO DO SUL
699            MATO GROSSO
700                  GOIÁS
701       DISTRITO FEDERAL
702               RONDÔNIA
703                   ACRE
704               AMAZONAS
705                RORAIMA
706                   PARÁ
707                  AMAPÁ
708              TOCANTINS
709               MARANHÃO
710                  PIAUÍ
711                  CEARÁ
712    RIO GRANDE DO NORTE
713                PARAÍBA
714             PERNAMBUCO
715                ALAGOAS
716                SERGIPE
717                  BAHIA
718           MINAS GERAIS
719         ESPÍRITO SANTO
720         RIO DE JANEIRO
721              SÃO PAULO
722                 PARANÁ
723         SANTA CATARINA
724      RIO GRANDE DO SUL
725     MATO GROSSO DO SUL
726            MATO GROSSO
727                  GOIÁS
728       DISTRITO FEDERAL
729               RONDÔNIA
730                   ACRE
731               AMAZONAS
732                RORAIMA
733                   PARÁ
734                  AMAPÁ
735              TOCANTINS
736               MARANHÃO
737                  PIAUÍ
738                  CEARÁ
739    RIO GRANDE DO NORTE

In [19]:
# Prepare Data
data = [("Spain", 101, 201, 301),
        ("Taiwan", 102, 202, 302),
        ("Italy", 103, 203, 303),
        ("China", 104, 204, 304)
  ]

# Create DataFrame
columns= ["Country", "2018", "2019", "2020"]
df = spark.createDataFrame(data = data, schema = columns)
df.show(truncate=False)

+-------+----+----+----+
|Country|2018|2019|2020|
+-------+----+----+----+
|Spain  |101 |201 |301 |
|Taiwan |102 |202 |302 |
|Italy  |103 |203 |303 |
|China  |104 |204 |304 |
+-------+----+----+----+

In [ ]:
from pyspark.sql.functions import col, expr, concat, lit, from_unixtime, unix_timestamp

In [25]:
import pyspark.sql.functions as F
import itertools

months = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']

df = oilder_df.withColumn("year_gain_map", F.create_map(list(itertools.chain(months)))) \
       .select("Ano", F.explode("year_gain_map").alias("Year", "CPI"))

In [26]:
df.show()

+----+----------+---------+
| Ano|      Year|      CPI|
+----+----------+---------+
|2000|136073.253| 9563.263|
|2000| 11341.229| 9369.746|
|2000| 10719.983|11165.968|
|2000| 12312.451| 11220.97|
|2000| 12482.281|13591.122|
|2000|  11940.57|11547.576|
|2000|  3358.346|40001.853|
|2000|  3065.758|  3495.29|
|2000|   2946.93|  3023.92|
|2000|   3206.93|  3612.58|
|2000|   3264.46|  3835.74|
|2000|  3676.571|  3225.61|
|2000| 20766.918|21180.919|
|2000|242742.352|17615.604|
|2000|   20258.2|18741.344|
|2000| 19604.023|20221.674|
|2000| 20792.616|19912.898|
|2000| 21869.338|21145.643|
|2000|  3716.032|   3200.4|
|2000|  3339.332|43338.929|
+----+----------+---------+
only showing top 20 rows